{% extends "blog/base.html" %} {% block content %}

<h1 class="title">{{post.title}}</h1>
<small>
    Posted at {{post.posted_date}}
</small>
<p>
    {{post.intro}}
</p>
<p>
    {{post.body}}
</p>
<hr />

<!-- Comment show -->
<h2 class="'subtitle">Comment</h2>

{% for comment in post.comments.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    {{comment.name}}
                    <small>
                        {{comment.posted_date}}
                    </small>
                </strong>
                <br />
                {{comment.body}}
            </p>
        </div>
    </div>
</article>
{% empty %}
<div class="notification">
    <p>
        No comment yet
    </p>
</div>
{% endfor %}
<hr />

<!-- Comment post -->
<h2 class="subtitle">
    add comment
</h2>

<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="field">
        <div class="control">
            <button class="button is danger">send</button>
        </div>
    </div>
</form>

{% endblock %}